# Node
node_modules/
dist/
build/
*.log

# Environment
.env
.env.*
!.env.example
.env.local

# Prisma
prisma/dev.db
prisma/migrations/
prisma/.env
/src/generated/prisma
.prisma/

# Sistema
.DS_Store

# Docker
docker-compose.override.yml